
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'profiles_fields_list' %}">
    fields Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="field">field: </label>
  <input class="form-control col-sm-10" id="field" type="text" name="field" value="{{ object.field }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}