
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'profiles_profiles_list' %}">
    profiles Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="about">about: </label>
  <input class="form-control col-sm-10" id="about" type="text" name="about" value="{{ object.about }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="image">image: </label>
  <input class="form-control col-sm-10" id="image" type="file" name="image" value="{{ object.image }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="name">name: </label>
  <input class="form-control col-sm-10" id="name" type="text" name="name" value="{{ object.name }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="birth_date">birth_date: </label>
  <input class="form-control col-sm-10" id="birth_date" type="date" name="birth_date" value="{{ object.birth_date }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}