
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'profiles_profiles_list' %}">
    profiles Listing
    </a>
</p>
    
<table class="table">
    <tr><td>about</td><td>{{ object.about }}</td></tr>
    <tr><td>image</td><td>{{ object.image }}</td></tr>
    <tr><td>name</td><td>{{ object.name }}</td></tr>
    <tr><td>birth_date</td><td>{{ object.birth_date }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}