
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'profiles_users_list' %}">
    users Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="password">password: </label>
  <input class="form-control col-sm-10" id="password" type="text" name="password" value="{{ object.password }}">
  </div>
  <div class="form-group row">
  <label class="col-sm-2 col-form-label" for="email">email: </label>
  <input class="form-control col-sm-10" id="email" type="text" name="email" value="{{ object.email }}">
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}